name: build reusable workflow

on:
  workflow_call:
    inputs:
      python-version:
        required: false
        type: string
        default: "3.11"
      deploy-prod:
        required: false
        type: string
        default: "false"

jobs:
  doc:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m venv .venv
          ./.venv/bin/python -m pip install .[doc]

      - name: Sphinx build
        run: ./.venv/bin/sphinx-build docs docs/_build --builder html --fresh-env

      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v4
        with:
          path: docs/_build/

  release:
    if: ${{ inputs.deploy-prod == 'true' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.tag.outputs.new_tag }}
    permissions:
      contents: write  # needed for tag creation
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: '0'  # fetches tags

      - name: Bump version and push tag
        id: tag
        uses: anothrNick/github-tag-action@4ed44965e0db8dab2b466a16da04aec3cc312fd8  # v1.75.0
        env:
          DEFAULT_BUMP: patch
          GIT_API_TAGGING: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PRERELEASE_SUFFIX: b
          PRERELEASE: ${{ inputs.deploy-prod == 'false' }}
          WITH_V: true

      - name: Create release from tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.tag.outputs.new_tag }}
        run: |
          gh release create "${tag}" \
              --repo="$GITHUB_REPOSITORY" \
              --title="${tag#v}" \
              --generate-notes

  pypi:
    needs: release
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Checkout the tagged version
        run: git checkout refs/tags/${{ needs.release.outputs.tag }}

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: "${{ inputs.python-version }}"
          cache: 'pip'

      - name: Install build dependencies
        run: |
          python -m venv .venv
          ./.venv/bin/python -m pip install .[dist]

      - name: Build distribution
        run: ./.venv/bin/python -m build

      - name: Upload distribution artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pypi-artifact
          path: dist/
          retention-days: 7
